@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');



.figma-app {
  font-family: 'Outfit', sans-serif;
  color: white;
  background: linear-gradient(10deg, rgb(24, 22, 22), rgb(26, 26, 60), black);
  overflow: hidden;
  /* background-repeat: repeat; */
}


.main-container{
  background: radial-gradient(50% 50% at 50% 50%, rgba(250, 117, 248, 0.28) 0%, rgba(250, 117, 248, 0) 100%);

}