/* avatar */

.avatar-section{
    /* border: 5px solid white; */
    /* margin-left: 30px; */
    padding: 10px;
    margin: 20px;
  }
  

.text-active {
    background: linear-gradient(90deg, #5CC3FA 0%, #9E6EE6 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  
  .text-inactive {
    color: #5f6977; 
  }
  